@import 'node_modules/@cells-components/cells-sass/main';

:host {
  display: block;
  box-sizing: border-box;
}

:host([hidden]),
[hidden] {
  display: none !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

.card-select {
  display: block;
  overflow: hidden;
  position: relative;
  font-family: inherit;
  width: calc(var(--bbva-global-spacer, #{rem(8px)}) * 19);
  padding: calc(var(--bbva-global-spacer, #{rem(8px)}) * 2);
  border-radius: rem(2px);
  background-color: var(--bbva-card-select-label-bg-color, var(--bbva-white, #fff));
  transition: background-color var(--bbva-fast-transition, 0.2s) ease-in-out,
    color var(--bbva-fast-transition, 0.2s) ease-in-out,
    opacity var(--bbva-fast-transition, 0.2s) ease-in-out;
  user-select: none;
  outline: none;
  box-shadow: fallbackVar('foundations.boxShadow.type1');
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
}

.icon-off {
  content: ' ';
  position: absolute;
  top: calc(var(--bbva-global-spacer, #{rem(8px)}) * 2);
  left: calc(var(--bbva-global-spacer, #{rem(8px)}) * 2);
  width: calc(var(--bbva-global-spacer, #{rem(8px)}) * 4);
  height: calc(var(--bbva-global-spacer, #{rem(8px)}) * 4);
  border-radius: 50%;
  background-color: var(--bbva-card-select-bg-color-icon-off, var(--bbva-400, #bdbdbd));
}

.icon {
  opacity: 0;
  transition: opacity var(--bbva-fast-transition, 0.2s) ease-in-out;
  --cells-icon-size: var(--bbva-card-select-icon-size,calc(var(--bbva-global-spacer, #{rem(8px)}) * 4));
  color: var(--bbva-white, #ffffff);
}

.info {
  margin-left: var(--bbva-global-spacer, #{rem(8px)});
  font-size: rem(12px);
  line-height: calc(var(--bbva-global-spacer, #{rem(8px)}) * 3);
  font-style: italic;
}

.title {
  margin-top: calc(var(--bbva-global-spacer, #{rem(8px)}) * 2);
  margin-bottom: var(--bbva-global-spacer, #{rem(8px)});
  font-size: rem(18px);
  line-height: calc(var(--bbva-global-spacer, #{rem(8px)}) * 3);
  font-weight: 500;
  color: var(--bbva-medium-blue, #1973b8);
}

.text-amount {
  display: inline-block;
  margin-left: calc(var(--bbva-global-spacer, #{rem(8px)}) / 2);
  font-size: rem(15px);
}

.text {
  margin-top: calc(var(--bbva-global-spacer, #{rem(8px)}) / 2);
  font-size: rem(15px);
  line-height: calc(var(--bbva-global-spacer, #{rem(8px)}) * 3);
}

.date {
  margin-top: var(--bbva-global-spacer, #{rem(8px)});
  font-size: rem(14px);
  line-height: calc(var(--bbva-global-spacer, #{rem(8px)}) * 3);
  font-weight: 500;
  font-style: italic;
}

.ellipsis {
  @include ellipsis;
}

:host([selected]) {
  .card-select {
    background-color: var(--bbva-card-select-bg-color-selected,var(--bbva-dark-medium-blue, #1464a5));
    color: var(--bbva-card-select-color-selected, var(--bbva-white, #ffffff));
  }

  .title {
    color: var(--bbva-card-select-color-selected, var(--bbva-white, #ffffff));
  }

  .badge {
    color: var(--bbva-white, #ffffff);
  }

  .opacity-icon {
    opacity: 1;
  }

  .amount {
    color: var(--bbva-white, #ffffff);
  }

  .icon-off {
    opacity: 0;
  }
}
